<div class="djbBox">
    <div class="mainImgBox">
        <img src="{{url+'bg.jpg'}}" class="mainImg"/>
    </div>
    <div class="titleBox">
        <span class="mainTitle">生日快乐</span>
    </div>
    <div class="djbs">
        <div *ngFor="let djb of djbs" class="djbItem">
            <!-- <a routerLink="/detail/{{djb.day}}"> -->
            <img src="{{url}}/{{djb.img}}"/>
            
                <span class="badge">{{djb.day}}</span> {{djb.name}}
            <!-- </a> -->
        </div>
    </div>
</div>
<!-- <app-fast-djb-info [djb]="selectedDjb"></app-fast-djb-info> -->