.djbBox{
  display: flex;
  display: -webkit-flex;

  flex-direction: column;

  border: none;
  margin: none;
}

.djbBox .mainImgBox{
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
 
.djbBox .mainImgBox .mainImg{
  width: 100vw;
}

.djbBox .titleBox{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.djbBox .titleBox .mainTitle{
  z-index: 1;
  color: white;
  opacity: 0.7;
  font-size: 13vw;
}